* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

#introduction img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.contacts {
    font-size: 25px;
}

.contacts a {
    margin: 0 1%;
}

.job i {
    color: #111111,   
}

.location {
    font-size: 21px;
}

.location i {
    color: #db3236;
    margin: 0 1% 0 0;
}

.contacts__github i {
    color: #211F1F;
}

.contacts__email i {
    color: #D44638;
}

.contacts__linkedin i {
    color: #4875B4;
}

#programming-skills {
    background-color: #000000;
    color: #ddf8cd;
}

.programming-canvas {
    width: 100%;
    height: auto;
}

.about {
    padding: 2.5% 0;
}

.about h3 {
    text-align: center;
}

#service {
/*    background-image: url('./attachments/workspace.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #111111;
}

.service__skills-list {
    list-style-type: none;
}

.copyright {
    text-align: center;
}