* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.contacts {
    font-size: 25px;
}

.contacts a {
    margin: 0 10%;
}

#programming-skills {
    background-color: #000000;
    color: #ddf8cd;
}

.programming-canvas {
    width: 100%;
    height: auto;
}

.copyright {
    text-align: center;
}