* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

#introduction img {
    /*    max-width: 200px;*/
    width: 100%;
    height: auto;
}

.contacts {
    font-size: 25px;
}

.contacts a {
    margin: 0 1%;
}

.job i {
    color: #111111,
}

.location {
    font-size: 21px;
}

.location i {
    color: #db3236;
    margin: 0 1% 0 0;
}

.contacts__github i {
    color: #211F1F;
}

.contacts__email i {
    color: #D44638;
}

.contacts__linkedin i {
    color: #4875B4;
}


/*
#programming-skills {
    background-color: #000000;
    color: #ddf8cd;
}

.programming-canvas {
    width: 100%;
    height: auto;
}
*/

.about {
    padding: 2.5% 0;
}

.about h3 {
    text-align: center;
    padding: 1% 0;
}

.about p {
    padding: 0 2.5%;
    text-align: justify;
}

#service {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./attachments/workspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff;
}

#service h3,
#service h4 {
    font-weight: bold;
}

.service-skill {
    width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: -3px 0px 21px -5px rgba(117, 117, 117, 0.36);
    -moz-box-shadow: -3px 0px 21px -5px rgba(117, 117, 117, 0.36);
    box-shadow: -3px 0px 21px -5px rgba(117, 117, 117, 0.36);
}

.service-skill__lists {
    list-style-type: none;
}

.copyright {
    text-align: center;
    padding: 1% 0;
}